/* 基礎タグにつけるCSS ---------------------*/
*{
	font-family: "Meiryo",sans-serif;
}
body{
	font-size: 20px;
}
img{
	margin: auto 1px;
	border: 0;
	vertical-align: middle;/*IE7*/
}
header{
	position:fixed;
	width: 100%;
	top:0;
	padding: 10px 20px 0px;
	color: white;
	z-index:1;
}
i{
    display: none;
}

/* ライブラリ等で追加された要素につけるCSS -------*/
.btn{
	border-radius: 5px;
	border: none;
	transition-duration: 0.5s;
}
.min-font{
	font-size: 16px;
}
.form{
	border-radius: 10px;
	margin:110px auto;
	padding: 30px;
	width:80%;
}
.dtp-header{
	display:none;
}

/* マスキング ---------------------*/
.masking{
	background-color:rgba(255,255,255,0.8);
}
header.masking{
	background-color:rgba(0,0,0,0.5);
}

/* Now Loading画面 ---------------------*/
#loader-bg{
	position: fixed;
	width: 110%;
	height: 110%;
	top: 0px;
	left: 0px;
	background-color: #6bb8d4;
	z-index: 10;
}
#loader{
	position: fixed;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	text-align: center;
	color: white;
	z-index: 11;
	animation-name: show;
	animation-duration: 1s;
}
@keyframes show {
	0% {
		transform:translate(0,2em);
		opacity:0;
	}
	100% {
		transform:translate(0,0);
		opacity:1;
	}
}
#loader>img{
	width: 40%;
	height: 40%;
}

/* Formのラジオ/チェックボタン--------------------- */
.my-btn input{
    display: none;
}
.my-btn label{
    display: block;
	width: 250px;
    margin: 3px;
    padding: 12px 5px;
	border-radius: 5px;
    float: left;
    cursor: pointer;
    background: #fff;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    text-align: center;
    color: #555e64;
    font-size: 14px;
    transition: .2s;
	line-height: 1.5em;
}
.my-btn label>span{
    font-size: 14px;	
}
.my-btn input[type="radio"]:checked + label {
    color: #fff;
}
.my-btn input[type="checkbox"]:checked + label {
    color: #fff;
}
.my-btn3{
    padding: 12px 5px;
    float: left;
    cursor: pointer;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    transition: .2s;
	line-height: 1.5em;	
}
.my-btn3:hover{
	border: none;
    color: #ffffff;
}

/* Formの各種リンクボタン------------------------------ */
.my-btn2{
	margin: 5px 0px;
	width: 100%;
    color: white;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition:0.5s;
}
.my-btn2:hover{
    color: white;
}

.reset-btn{
	color: #ffffff;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition:0.5s;
}

/* モーダルウィンドウコンテンツのCSS ---------------------*/
#modal-overlay{ /* 参考文献:https://syncer.jp/jquery-modal-window */
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%; /* スマホ対策 */
	background-color:rgba(0,0,0,0.75);
	z-index:1;
}

/* その他--------------------------------------- */
.label{
	margin: 0px 5px;
}
#info{
	font-size: 12px;
}
.info{
	color:white;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition:0.5s;
}
.info:hover{
    border: none;
	color: #bdbdbd;
}

/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media only screen and (max-width:640px){
    img{
        max-width: 100%;
        height: auto;
        width /***/:auto;　
    }
    /* ～以下、画面の横幅が640pxまでの場合のスタイル記入～ */
    body{
    	font-size: 16px;
    }
    header{
        text-align: center;
    }
    .info{
		font-size: 10px;
    }
}
