/* 基礎タグにつけるCSS ---------------------*/
body{
	overflow-x: hidden;
}
.table{
	margin: 20px auto;
}

/* ライブラリ等で追加された要素につけるCSS -------*/
.glyphicon{
	font-size: 12px
}
.btn{
	margin: 5px;
}
.mrsth{
    background: rgba(255, 255, 255, 0.8);
}
.mrsth>tr>th{
	padding: 5px;
}

/* ヘッダー部分のCSS ---------------------*/
#Top>div{
	padding:20px;
}
#Top{
	background-image: url("../img/bg_main.jpg");
	background-repeat: 		no-repeat;
	background-position: 	top center;
	-moz-background-size:	cover;
	background-size:		cover;
}
.jumbotron{
	background-color: rgba(255,255,255,0);
}

/* リロード用ボタンのCSS ---------------------*/
.reload{
	top:20px;
	right: 20px;
	z-index: 999;
}
.reload.glyphicon-info-sign{
	right: 50px;
}

/* モーダルウィンドウコンテンツのCSS ---------------------*/
#EnemyArkOut{
	display: none;
	position: fixed;
    width:50%;
    height: 70%;
	padding:10px 20px;
	background:#fff;
	border:2px solid #aaa;
	font-size: 16px;
	z-index:2; /* 手前に表示 */
	overflow-y:scroll;
}
#EnemyArkOut::-webkit-scrollbar{width:3px;}/*バーの太さ*/
#EnemyArkOut::-webkit-scrollbar-track{background:#ffffff;}/*バーの背景色*/
#EnemyArkOut::-webkit-scrollbar-thumb{background:#d9d9d9;}/*バーの色*/

#Eao-close{
	position: fixed;
}

/* ログ表示のCSS ---------------------*/
#log::-webkit-scrollbar{width:3px;}/*バーの太さ*/
#log::-webkit-scrollbar-track{background:#ffffff;}/*バーの背景色*/
#log::-webkit-scrollbar-thumb{background:#d9d9d9;}/*バーの色*/

#logpanel{
	padding: 8px;
	font-size: 12px;
}
#log::-webkit-scrollbar{width:3px;}/*バーの太さ*/
#log::-webkit-scrollbar-track{background:#ffffff;}/*バーの背景色*/
#log::-webkit-scrollbar-thumb{background:#d9d9d9;}/*バーの色*/

/* フォーム、リンクボタン ------------*/
#Forms>a>button{
	background-color: rgba(186, 0, 86, 0.4);
	color: white;
}
#Forms>a>button:hover{
	background-color: rgba(125, 0, 35, 0.7);
}
#SpreadSheets>a>button{
	background-color: #00BEBE;
	color: white;
}
#SpreadSheets>a>button:hover{
	background-color: #00a6a6;
}
#Flow>a>button{
	background-color: #9FF9C1;
	color: gray;
}
#Flow>a>button:hover{
	background-color: #5bcd86;
	color: white;
}
#FormHide>a>button{
	background-color: white;
	color: #efefef;
}
#FormHide>a>button:hover{
	background-color: lightgray;
	color: white;
}

/* その他のCSS ---------------------*/
.medals{
	margin: 0px 0px 0px 10px;
}
.detail{
	margin: 2px 0px 2px 10px;
	padding: 2px 5px;
	background-color: #00BEBE;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
/*===============================================
●smart.css  画面の横幅が640pxまで
===============================================*/
@media only screen and (max-width:640px){
    /* ～以下、画面の横幅が640pxまでの場合のスタイル記入～ */
    #Top{
		background-image: url("../img/bg_main-s.jpg");
	}
    #Link>button{
        margin: 2px auto;
        width: 100%;
    }
    #EnemyArkOut{
        width:80%;
        font-size: 12px;
    }
}
